@tailwind base;
@tailwind components;
@tailwind utilities;

.text-color {
  @apply text-gray-300;
}

:root {
  --gray-300: rgb(209 213 219);
  --teal-200: rgb(153 246 228);
}

.fancy-text-style {
  -webkit-text-stroke: 1px rgb(209 213 219);
  filter: drop-shadow(0 0 23px rgb(209 213 219));
}

.drop-shadow-green {
  -webkit-text-stroke: 1px rgb(153 246 228);
  filter: drop-shadow(0 0 23px rgb(153 246 228));
}

ul {
  list-style-type: disc;
  padding-left: 40px;
}

li {
  margin-bottom: 0.5em;
  text-align: start;
}

/* Hello Text Animation */
.hello-text-at-home-page {
  -webkit-text-stroke: 1px rgb(209 213 219);
  color: transparent;
}
.hello-text-at-home-page::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgb(17 24 39);
  border-left: 3px solid rgb(209 213 219);
  animation: moveLeftToRight 3s ease-out 0s infinite;
}

@keyframes moveLeftToRight {
  0% {
    translate: 0 0;
  }
  50% {
    translate: 99% 0;
  }
  100% {
    translate: 0 0;
  }
}

/* Nav Link Button styling */
.nav-link-button {
  --border-right: 4px;
  --text-stroke-color: rgba(255, 255, 255, 0.6);
  --animation-color: rgb(209 213 219);
  --fs-size: 2em;
  position: relative;
  color: rgb(209 213 219);
}
.nav-link-button-hover-text {
  position: absolute;
  box-sizing: border-box;
  color: var(--animation-color);
  width: 0%;
  inset: 0;
  overflow: hidden;
  transition: 0.5s;
  -webkit-text-stroke: 1px var(--animation-color);
}
.nav-link-button:hover .nav-link-button-hover-text {
  width: 100%;
  filter: drop-shadow(0 0 23px var(--animation-color));
}
.nav-link-button.isHovered .nav-link-button-hover-text {
  width: 100%;
  filter: drop-shadow(0 0 23px var(--animation-color));
  text-decoration: underline;
}

/* Skill Card Glass */
.skill-card-glass {
  position: relative;
  background: linear-gradient(#ffffff22, transparent);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 25px 25px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  transition: 0.5s;
  border-radius: 10px;
  backdrop-filter: blur(10px);
}
.skill-card-glass::before {
  content: attr(data-text);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  background: rgba(255, 255, 255, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

/* Slider Autoplay */
article.slide.activeSlide {
  opacity: 1;
  transform: translateX(0);
}
article.slide.lastSlide {
  transform: translateX(-100%);
}
article.slide.nextSlide {
  transform: translateX(100%);
}

/* Project Card Style */
.project-card {
  background-color: rgb(17 24 39);
  position: relative;
}
.project-card::before {
  content: "";
  position: absolute;
  top: 14px;
  left: 0;
  height: 2px;
  background-color: rgb(209 213 219);
  z-index: 1;
}
.project-card:hover:before {
  background-color: rgb(153 246 228);
}
@media (min-width: 600px) {
  .project-card::before {
    width: 100px;
  }
}
@media (min-width: 768px) {
  .project-card::before {
    width: 40px;
  }
}
@media (min-width: 1280px) {
  .project-card::before {
    width: 100px;
  }
}
@media (min-width: 1500px) {
  .project-card::before {
    width: 125px;
  }
}

/* Home Page - Animation for Circles */
.circleAnimation {
  position: relative;
  opacity: 0;
  top: 20px;
  animation: moveUp 1.3s forwards;
}
.circleAnimation.appearSecond {
  animation-delay: 0.5s;
}
.circleAnimation.appearThird {
  animation-delay: 1s;
}
.circleAnimation.appearForth {
  animation-delay: 1.5s;
}
@keyframes moveUp {
  100% {
    opacity: 1;
    top: 0;
  }
}
